<tr>
  <td><%= cert.name %></td>
  <td>
    <%= form_tag cert_path(Base64.encode64(cert.name)), :class => "cert_form", :method => :put, :remote => true do %>
      <label>Private Key</label>
      <br>
      <%= text_area_tag('key', cert.key, class: 'key') %>
      <br>
      <label>Certificate</label>
      <br>
      <%= text_area_tag('cert', cert.cert, class: 'cert') %>
      <br>
      <%= submit_tag('Save') %>
    <% end %>
  </td>
  <td>
    <%= form_tag cert_path(Base64.encode64(cert.name)), method: :delete,
                 data: { confirm: "Are you sure you want to remove #{cert.name}?" } do %>
        <button>remove</button>
    <% end %>
  </td>
</tr>


