<tr>
  <td><%= user.name %></td>
  <td><%= user.username %></td>
  <td>
    <%= form_tag user_path(user), :class => "user_form", :method => :put, :remote => true do %>
      <% if user == current_user %>
          It's you!
      <% else %>
          <input name="has_access" type="hidden" value="0" />
          <%= check_box_tag('has_access', '1', user.has_access?, class: 'has_access') %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= form_tag user_path(user), method: :delete, data: { confirm: "Are you sure you want to remove #{user.username}" } do %>
        <button>remove</button>
    <% end %>
  </td>
</tr>

