<tr>
  <td>
    <%= app.name %>

    <%= form_tag app_path(app.name), method: :delete,
                 data: { confirm: "Are you sure you want to remove #{app.name}?" } do %>
        <button>remove app</button>
    <% end %>
  </td>

  <td>
    <%= form_tag app_path(app.name), :class => "maintenance_form", :method => :put, :remote => true do %>
        <label>Maintenance Mode</label>
        <input name="maintenance" type="hidden" value="0"/>
        <%= check_box_tag('maintenance', '1', app.maintenance, class: 'maintenance') %>
    <% end %>
  </td>

  <td>
    <%= form_tag app_path(app.name), :class => "dependencies_form", :method => :put, :remote => true do %>
        <label>Dependent systems</label>
        <br>
        <select id="<%= app.name %>_dependencies" class="dependencies" name="dependencies[]" multiple="multiple" data-placeholder="Choose a dependency">
          <% (@index.apps - [app.name.to_s]).each do |dependency| %>
              <option<%= " selected='selected'" if app.dependencies.include?(dependency) %>><%= dependency %></option>
          <% end %>
        </select>
        <%= hidden_field_tag "dependencies[]", "" %>
    <% end %>
  </td>

  <td>
    <%= form_tag app_path(app.name), :class => "whitelist_form", :method => :put, :remote => true do %>
        <label>CORS Whitelist (comma separated)</label>
        <br>
        <%= text_area_tag('whitelist', app.whitelist.join(",\n"), rows: 5) %>
        <br>
        <%= submit_tag('Update CORS') %>
    <% end %>
  </td>

</tr>