<tr>
  <td><%= redirect.domain %></td>
  <td><%= redirect.to %></td>
  <td>
    <%= form_tag redirect_path(Base64.encode64(redirect.domain)), :class => "cert_form", :method => :put, :remote => true do %>
        <label>Cert</label>
        <select id="<%= redirect.domain %>_cert" class="cert" name="cert" data-placeholder="Choose a cert">
          <% Cert.all.each do |cert| %>
              <option<%= " selected='selected'" if redirect.cert == cert.name %>><%= cert.name %></option>
          <% end %>
        </select>
    <% end %>
  </td>
  <td>
    <%= form_tag redirect_path(Base64.encode64(redirect.domain)), method: :delete,
                 data: { confirm: "Are you sure you want to remove #{redirect.domain}?" } do %>
        <button>remove</button>
    <% end %>
  </td>
</tr>


