<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>Maintenance Utilities</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user&.has_access? %>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#maintenanceNavBar" aria-controls="maintenanceNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Cru</a>

      <div class="collapse navbar-collapse" id="maintenanceNavBar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if params[:controller] == 'apps' %>">
            <a class="nav-link" href="/">Maintenance</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Redirects</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/vanities">Vanities</a>
              <a class="dropdown-item" href="/regexes">Regexes</a>
            </div>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'upstreams' %>">
            <a class="nav-link" href="/upstreams">Upstreams</a>
          </li>
          <li class="nav-item <%= 'active' if params[:controller] == 'users' %>">
            <a class="nav-link" href="/users">Users</a>
          </li>
        </ul>
      </div>
    </nav>
    <% end %>

    <div class="container-fluid">
      <!--<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">-->
        <%= yield %>
      <!--</main>-->
    </div>



    <script type="text/javascript">
      $(function() {
        <%= yield :onready %>
      });
    </script>
  </body>
</html>
